table {
    width: 100%;
}

.table-container {
    margin: 1rem;
}

.mat-cell {
    min-width: 120px;
}

.search-field {
    width: 100%;
    padding: 1rem;
}

.country-name:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}