<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="flag">
    <th mat-header-cell *matHeaderCellDef>Flag</th>
    <td mat-cell *matCellDef="let country">
      <img
        width="80"
        src="{{ country.flags.png }}"
        alt="{{ country.flags.alt }}"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef>Country Codes</th>
    <td mat-cell *matCellDef="let country">
      <mat-chip-list>
        <mat-chip>{{ country.cca2 }}</mat-chip>
        <mat-chip>{{ country.cca3 }}</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Name</th>
    <td mat-cell *matCellDef="let country">
      <app-country-name [country]="country"></app-country-name>
    </td>
  </ng-container>

  <ng-container matColumnDef="nativeName">
    <th mat-header-cell *matHeaderCellDef>Native Country Name</th>
    <td mat-cell *matCellDef="let country">{{ country.name.official }}</td>
  </ng-container>

  <ng-container matColumnDef="altSpellings">
    <th mat-header-cell *matHeaderCellDef>Alternative Country Name</th>
    <td mat-cell *matCellDef="let country">
      <app-alternative-name
        [alternativNames]="country.altSpellings"
      ></app-alternative-name>
    </td>
  </ng-container>

  <ng-container matColumnDef="callingCode">
    <th mat-header-cell *matHeaderCellDef>Country Calling Codes</th>
    <td mat-cell *matCellDef="let country">
      <app-country-calling-code
        [countryCallingCodes]="country.idd"
      ></app-country-calling-code>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  class="mat-paginator-sticky"
  [pageSizeOptions]="[25, 50, 100]"
  showFirstLastButtons
></mat-paginator>
