.mat-h1 {
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
}

.country-container {
    margin: 1rem;
}

.filter {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.search-field {
    flex-grow: 1;
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
}

.sort span {
    font-weight: 500;
}