.mat-h1 {
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
}

.country-container {
    margin: 1rem;
}

.search-field {
    width: 100%;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
}